function ChargeTarget.new 0
push constant 4
call Memory.alloc 1
pop pointer 0
push constant 7695
call Ball.new 1
pop this 0
push constant 1295
pop static 3
push static 3
call Hoop.new 1
pop this 1
push constant 7680
pop static 1
push constant 7711
pop static 0
push this 3
call Output.printInt 1
pop temp 0
push pointer 0
return
function ChargeTarget.dispose 0
push argument 0
pop pointer 0
push this 0
call Ball.dispose 1
pop temp 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function ChargeTarget.slideBall 1
push argument 0
pop pointer 0
push this 0
call Ball.getMemLocation 1
pop local 0
push this 0
push local 0
call Ball.erase 2
pop temp 0
push static 2
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 0
push constant 1
add
pop local 0
push local 0
push static 0
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 0
pop static 2
label IF_FALSE1
goto IF_END0
label IF_FALSE0
push local 0
push constant 1
sub
pop local 0
push local 0
push static 1
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 0
not
pop static 2
label IF_FALSE2
label IF_END0
push this 0
push local 0
call Ball.draw 2
pop temp 0
push constant 0
return
function ChargeTarget.shootBall 3
push argument 0
pop pointer 0
push constant 0
pop local 0
push this 0
call Ball.getMemLocation 1
pop local 1
label WHILE_EXP0
push local 0
push argument 1
lt
not
if-goto WHILE_END0
push local 0
push constant 1
add
pop local 0
push this 0
push local 1
call Ball.erase 2
pop temp 0
push local 1
push constant 128
sub
pop local 1
push local 1
push constant 0
gt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 0
push local 1
call Ball.draw 2
pop temp 0
goto IF_END0
label IF_FALSE0
push argument 1
push constant 1
add
pop local 0
label IF_END0
push local 1
push constant 1580
lt
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 1
push static 3
call Hoop.draw 2
pop temp 0
label IF_FALSE1
push constant 10
call Sys.wait 1
pop temp 0
goto WHILE_EXP0
label WHILE_END0
push this 0
push local 1
call Ball.erase 2
pop temp 0
push this 1
push local 1
call Hoop.inHoop 2
pop local 2
push local 2
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push this 3
push constant 1
add
pop this 3
call Output.backSpace 0
pop temp 0
push this 3
call Output.printInt 1
pop temp 0
label IF_FALSE2
push this 1
push static 3
call Hoop.draw 2
pop temp 0
push constant 0
return
function ChargeTarget.start 5
push argument 0
pop pointer 0
push constant 0
pop local 1
label WHILE_EXP0
push local 1
not
not
if-goto WHILE_END0
call Keyboard.keyPressed 0
pop local 0
push constant 75
call Sys.wait 1
pop temp 0
push local 2
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push pointer 0
push local 4
call ChargeTarget.shootBall 2
pop temp 0
push this 0
push constant 7695
call Ball.draw 2
pop temp 0
push constant 0
pop local 2
push constant 0
pop local 4
goto IF_END0
label IF_FALSE0
push pointer 0
call ChargeTarget.slideBall 1
pop temp 0
label IF_END0
push local 0
push constant 81
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 0
not
pop local 1
label IF_FALSE1
push local 0
push constant 32
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push local 4
push constant 1
add
pop local 4
label IF_FALSE2
push local 0
push constant 0
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push local 4
push constant 0
gt
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push constant 0
not
pop local 2
label IF_FALSE4
label IF_FALSE3
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
